<!DOCTYPE html>
<html>
  <head>
    <title>The Office Quiz</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>
      The Office Quiz
    </h1>
    <form method="post" action="/result">
      <p>
        Which book would you bring to a desert island?
      </p>
      <input type="radio" name="book" value="bible"> A Purpose-Driven Life<br>
      <input type="radio" name="book" value="davinci"> The Da Vinci Code<br>
      <input type="radio" name="book" value="harrypotter"> Physician's Desk Reference (hollowed out with tools inside) but also Harry Potter and the Sorcerer's Stone for when you get bored
      <p>
        <input type="submit" />
      </p>
  </form>
  </body>
</html>
