{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to  Abidjan Python !</h1>
            <p>Welcome to Abidjan Python Programmer Blog! Here we'll be talking about everything computer science. Basics, framesworkds, machine learning, other data science stuff, any new tech or findings, and pretty much anything computer science related.</p>
            
			 <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
			
			<p align="center">  <img src="static/images/abidjan.jpg" class="rounded" alt="Abidjan en Bateau"> </p>
			
			
			
			<p>  <img src="static/images/assinie.jpeg" class="rounded-circle" alt="Assinie "> </p>
			
           
        </div>
    </div>
</main>
{% endblock %}